{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in students %}
      <li><b>Ученик</b>: {{ student.name }}. <b>Класс</b>: {{ student.group }}
        <ul style="list-style-type: square;">
            {% for teacher in student.teachers.all %}
                <li><b>Преподаватель</b>: {{ teacher.name }}. <b>Предмет</b>: {{ teacher.subject }}</li>
            {% endfor %}
      </ul>
  {% endfor %}
  </ul>
</div>
{% endblock %}
